
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.botines_index{
    width: 45%;
    height: 450px;
    margin-left: 50px;
}
main{
    margin-top: 15px;
}
.novedades_index{
    font-style: italic;

}

header{
    font-family: inter, sans-serif;
}



a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.logo{
    width: 150px;
    height: 150px;
    display: inline;
}
.footer-redes{
    list-style-type: none;
}

.redes{
    width: 48px;
    height: 48px;
}
.footer-redes li{
    display: inline;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nike_catalogo img{
    width: 280px;
    height: 280px;
    margin-left: 10px;
    margin-right: 10px;
}
.marcas{
    font-style: italic;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
}
.nike_catalogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
.titulos_pages{
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
.genero{
    margin-bottom: 2px;
    margin-top: 2px;
}
.precio{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 10px;
}
.formulario_contacto{
    margin-left: 15px;
}
footer{
    margin-top: 30px;
}